*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif; 
    font-size: 14px;
    line-height: 17px;
    color: #626262;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

nav {
    margin-bottom: 102px;
}
nav li a:hover {
    color: #fff;
    background-color: #626262;
}
ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    margin: 0 100px 0 0;
}
li:last-child { 
    margin: 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family:  'Playfair Display', serif;
    color: #626262;
}
span {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #b4ad9e;
}
h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 40px;
}
img {
    margin-bottom: 32px;
}
.block-one {
    display: inline-block;
    width: 420px;
    margin-right: 54px;
    text-align: initial;
    margin-bottom: 134px;
}
.block-two {
    display: inline-block;
    width: 420px;
    text-align: initial;
    margin-bottom: 134px;
}
.block-three {
    display: inline-block;
    width: 420px;
    margin-right: 54px;
    text-align: initial;
    margin-bottom: 140px;
}
.block-four {
    display: inline-block;
    width: 420px;
    text-align: initial;
    margin-bottom: 140px;
}
.block-five {
    display: inline-block;
    width: 420px;
    margin-right: 54px;
    text-align: initial
}
.block-six {
    display: inline-block;
    width: 420px;
    text-align: initial
}

button {
    display: block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #626262;
    background-color: white;
    width: 164px;
    height: 66px;
    margin: 0 auto;
    border-width: 1px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 69px;
}
button:hover {
    background-color: #626262;
    color: white;
}